#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-spinner{
  transform: scale(3);
  margin:30px;
}

#cuteLoadingMessage {
  transition: opacity 500ms;
}

#main-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
#main-gauge{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  *{
    margin: 4px;
  }
  ngx-gauge{
    transform: scale(.9);
  }
}

#card-holder-margin{
  margin:2%;
  width:98%;
}
